.card {
  max-width: 247px;
  min-height: 340px;
  border-radius: 5px;
  background-color: var(--primary);
  box-sizing: content-box;
  box-shadow: 1px 1px 5px -5px var(--black);
  transition: transform 300ms;
  a {
    color: var(--black);
    text-decoration: none;
  }

  &__image {
    max-width: 100%;
    max-height: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 1px 5px -3px var(--black);
    object-fit: cover;
  }
  &__body {
    padding: 5px 20px;
    &__title {
      font-size: 20px;
      color: var(--black);
      font-weight: 800;
    }
    &__text {
      font-size: 14px;
      margin: 5px 0px;
      font-weight: 600;
      span {
        font-size: 12px;
        margin-left: 5px;
        font-weight: 400;
      }
    }
  }
  &:hover {
    transform: scale(1.1);
  }
}
