@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}
* {
  box-sizing: border-box;
}
// light mode
:root[data-theme='light'] {
  color-scheme: light;
  --primary: hsl(0, 0%, 100%);
  --primary-light: hsl(0, 0%, 98%);
  --primary-very-light: hsl(0, 0%, 96%);
  --secondary: hsl(200, 15%, 8%);
  --secondary-light: hsl(207, 26%, 17%);
  --secondary-very-light: hsl(209, 23%, 22%);
  --dark-gray: hsl(0, 0%, 52%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

// dark mode
:root[data-theme='dark'] {
  color-scheme: dark;
  --primary: hsl(209, 23%, 22%);
  --primary-light: hsl(207, 26%, 17%);
  --primary-very-light: hsl(200, 15%, 8%);
  --secondary: hsl(0, 0%, 100%);
  --secondary-light: hsl(0, 0%, 98%);
  --secondary-very-light: hsl(0, 0%, 85%);
  --dark-gray: hsl(0, 0%, 52%);
  --white: hsl(0, 0%, 0%);
  --black: hsl(0, 0%, 100%);
}
