.card {
  max-width: 256px;
  min-height: 300px;
  border-radius: 5px;
  background-color: var(--primary);
  box-sizing: content-box;
  box-shadow: 1px 1px 5px -5px var(--black);
  a {
    color: var(--black);
    text-decoration: none;
  }

  &__image {
    width: 256px;
    height: 150;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
  &__body {
    padding: 10px 20px;
    &__title {
      font-size: 20px;
      color: var(--black);
      font-weight: 800;
    }
    &__text {
      font-size: 14px;
      margin: 0px;
      font-weight: 600;
      span {
        font-size: 12px;
        margin-left: 5px;
        font-weight: 400;
      }
    }
  }
}
